# Info sensible
.env

# Entorno virtual
.venv/

# Cache de Python
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ruff
.ruff_cache/

# node
frontend/node_modules/
frontend/package-lock.json